<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Action Item</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/navigation.js"></script>
</head>
<body>
    <%- include('../partials/header') %> 

    <main>
        <div class="container">
            <div class="form-group">
                <% if (actionItem) { %>
                <div id="editActionItemForm" class="hidden-form">
                    <%- include('../partials/editActionForm', { incident_id: actionItem.incidentId, actionItemStatuses: actionItemStatuses, actionItem: actionItem }) %>
                </div>
                <% } %>
            </div>
            <div class="button-group">
                <% if (actionItem) { %>
                    <button class="button btn-primary navigate-button" data-url="/incidents/view/<%= actionItem.incidentId %>">View Incident</button>
                <% } else { %>
                    <p>Action Item not found.</p>
                <% } %>
                <button class="button btn-secondary navigate-button" data-url="/action-items">Back to Action Items</button>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>