<header>
    <nav class="navbar">
        <div >
            <a href="/" class="logo">Incident Retrospective Tool</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <% if (user) { %>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/incidents">Incidents</a></li>
                    <li><a href="/incidents/create">Create Incident</a></li> <!-- Link to the Create Incident page -->
                    <li><a href="/action-items">Action Items</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li>Welcome, <%= user.username %>!</li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>


